<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/inventory_db?autoReconnect=true</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password"></property>
        <property name="connection.autoReconnect">true</property>
        <property name="connection.autoReconnectForPools">true</property>
        <property name="connection.is-connection-validation-required">true</property>
        
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL57Dialect</property>
        <property name="show_sql">true</property>
        <property name="hbm2ddl.auto">update</property>
        <property name="connection.pool_size">500</property>
        <property name="hibernate.c3p0.min_size">5</property>
        <property name="hibernate.c3p0.max_size">100</property>
        <property name="hibernate.c3p0.timeout">300</property>
        <property name="hibernate.c3p0.max_statements">50</property>
        <property name="hibernate.c3p0.idle_test_period">3000</property>
        
        <mapping class="org.bdlions.inventory.entity.EntityCompany" />
        <mapping class="org.bdlions.inventory.entity.EntityAccountStatus" />
        <mapping class="org.bdlions.inventory.entity.EntityRole" />
        <mapping class="org.bdlions.inventory.entity.EntityUser" />
        <mapping class="org.bdlions.inventory.entity.EntityUserRole" />        
        <mapping class="org.bdlions.inventory.entity.EntityProductCategory" />
        <mapping class="org.bdlions.inventory.entity.EntityProduct" />
        <mapping class="org.bdlions.inventory.entity.EntityProductType" />
        <mapping class="org.bdlions.inventory.entity.EntityUOM" />
        <mapping class="org.bdlions.inventory.entity.EntityAddressType" />
        <mapping class="org.bdlions.inventory.entity.EntityAddressCategory" />
        <mapping class="org.bdlions.inventory.entity.EntityUserAddress" />
        <mapping class="org.bdlions.inventory.entity.EntitySupplier" />
        <mapping class="org.bdlions.inventory.entity.EntityCustomer" />
        <mapping class="org.bdlions.inventory.entity.EntityPurchaseOrder" />
        <mapping class="org.bdlions.inventory.entity.EntityPurchaseOrderStatus" />
        <mapping class="org.bdlions.inventory.entity.EntityPOWarehouseProduct" />
	<mapping class="org.bdlions.inventory.entity.EntityPOShowRoomProduct" />
        <mapping class="org.bdlions.inventory.entity.EntityPOShowRoomReturnProduct" />
        <mapping class="org.bdlions.inventory.entity.EntityWSTransactionCategory" />
        <mapping class="org.bdlions.inventory.entity.EntityWarehouseStock" />
        <mapping class="org.bdlions.inventory.entity.EntitySaleOrderStatus" />
        <mapping class="org.bdlions.inventory.entity.EntitySaleOrder" />
	<mapping class="org.bdlions.inventory.entity.EntitySaleOrderProduct" />
        <mapping class="org.bdlions.inventory.entity.EntitySaleOrderReturnProduct" />
        <mapping class="org.bdlions.inventory.entity.EntitySSTransactionCategory" />
        <mapping class="org.bdlions.inventory.entity.EntityShowRoomStock" />
        <mapping class="org.bdlions.inventory.entity.EntityProductSupplier" />
    </session-factory>
</hibernate-configuration>